@font-face {
    font-family: 'BPG Arial';
    src: url('BPGArial.woff2') format('woff2'),
        url('BPGArial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG ExtraSquare Mtavruli';
    src: url('BPGExtraSquareMtavruli.woff2') format('woff2'),
        url('BPGExtraSquareMtavruli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('Righteous-Regular.woff2') format('woff2'),
        url('Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

