@font-face {
  font-family: 'BPG Arial';
  src: url('../fonts/BPGArial.woff2') format('woff2'),
    url('../fonts/BPGArial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG ExtraSquare Mtavruli';
  src: url('../fonts/BPGExtraSquareMtavruli.woff2') format('woff2'),
    url('../fonts/BPGExtraSquareMtavruli.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Righteous';
  src: url('../fonts/Righteous-Regular.woff2') format('woff2'),
    url('../fonts/Righteous-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
