*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--arial);
}

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg.png), linear-gradient(var(--mode));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex-grow: 1;
  }
}

.border-bottom {
  border-bottom: 1px solid #cecece;
}

.page-heading {
  text-align: center;
}

.page-title {
  margin-bottom: 50px;

  a {
    font-family: var(--righteous);
    font-size: 75px;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }

  svg {
    width: 85.25px;
    height: 93px;
    fill: var(--theme-color);
  }
}

.page-tagline {
  font-family: var(--arial);
  font-size: 30px;
  color: #fff;
}

.color-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 40px;
  }

  p {
    font-family: var(--arial);
    font-size: 12px;
    color: #fff;
  }
}

.colors {
  display: flex;
  justify-content: center;
  gap: 10px;

  .color {
    width: 17px;
    height: 17px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    gap: 74px;
  }

  .copyright {
    color: #fff;
    font-size: 16px;
    font-family: var(--arial);

    a {
      color: var(--theme-color);
      font-size: 20px;
      text-decoration: none;
    }
  }
}

.upload-progress-indicator {
  p {
    font-size: 18px;
    color: #333333;
    text-align: center;
  }
}

.upload-file-count {
  font-size: 12px;
  color: var(--theme-color);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 8px;
}

.bg-theme {
  background-color: var(--theme-color) !important;
  color: #fff !important;
}

.container {
  margin: 60px auto 70px;
  padding: 25px;
  max-width: 340px;
  background-color: #fff;
  border-radius: var(--border-radius);
  text-align: center;
}

.generated-link {
  margin-top: 18px;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  border: 1px solid #707070;

  a {
    color: var(--blue);
    font-size: 16px;
  }
}

.btn-primary {
  padding-block: 16px;
  background-color: var(--theme-color);
  border: none;
  border-radius: 10px;
  font-family: var(--mtavruli);
  cursor: pointer;
  display: block;
  width: 100%;
  color: #fff;
}

.copy-link {
  margin-block: 20px;
}

.link {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

.set-mode {
  position: absolute;
  right: 31px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  button {
    cursor: pointer;
  }

  span {
    color: #fff;
  }
}

.received-files {
  max-width: 340px;
  margin: 0 auto;
  background: #fff;
  border-radius: var(--border-radius);
  text-align: center;
  padding-bottom: 17px;

  &__expire-in {
    @extend .border-bottom;
    padding-top: 32px;
    padding-bottom: 10px;
    font-family: var(--mtavruli);
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
  }

  &__name {
    @extend .border-bottom;
    padding-block: 20px;
    font-family: var(--arial);
    font-size: 16px;
    color: #333333;
  }

  &__count {
    @extend .border-bottom;
    padding-block: 22px;
    margin-bottom: 17px;
    font-family: var(--arial);
    font-size: 30px;
    color: var(--theme-color);
  }

  .btn-primary {
    max-width: 180px;
    margin: 0 auto;
  }
}

.transfer-details {
  min-height: 80vh;
  padding-block: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  border-bottom-right-radius: 34px;

  @media only screen and (min-width: 1920px) {
    min-width: 700px;
  }

  & > * {
    padding-inline: 30px;
  }

  &__close {
    @extend .border-bottom;
    padding-bottom: 31px;
    display: flex;
    justify-content: flex-end;

    button {
      background: transparent;
      display: grid;
      place-content: center;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      border: 2px solid #333333;
      cursor: pointer;
    }
  }

  &__info {
    @extend .border-bottom;
    padding-top: 40px;
    padding-bottom: 32px;
  }

  &__content {
    margin-top: 9px;
    display: flex;
    gap: 18px;
  }

  &__title {
    font-family: var(--mtavruli);
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    white-space: nowrap;

    &--2 {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }

  &__name {
    font-family: var(--arial);
    font-size: 14px;
    color: #7a7a7a;
  }

  &__content {
    font-family: var(--arial);
    font-size: 14px;
    color: #7a7a7a;
  }

  &__files {
    padding-top: 37px;

    &__count {
      margin-bottom: 12px;
      font-family: var(--mtavruli);
      font-size: 16px;
      color: #333;
    }

    &__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media only screen and (min-width: 1920px) {
        max-width: 320px;
      }
    }
  }

  &__file {
    @extend .border-bottom;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &__name {
      font-family: var(--arial);
      font-size: 14px;
      color: #484848;
    }

    &__size {
      font-family: var(--arial);
      font-size: 12px;
      color: #7a7a7a;
    }
  }
}

#drop-zone {
  position: relative;

  &.active {
    position: relative;
    z-index: 20;

    &::after {
      content: '';
      position: fixed;
      inset: 0;
      background-color: var(--theme-color);
      opacity: 0.77;
      z-index: 25;

      pointer-events: none;
    }

    &::before {
      content: 'დააგდე ფაილი აქ';
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      font-family: var(--arial);
      color: #fff;
      z-index: 30;

      pointer-events: none;
    }
  }
}
