[data-color='blue'] {
  background-color: var(--blue);
}

[data-color='cyan'] {
  background-color: var(--cyan);
}

[data-color='green'] {
  background-color: var(--green);
}

[data-color='pink'] {
  background-color: var(--pink);
}

[data-color='red'] {
  background-color: var(--red);
}

[data-color='orange'] {
  background-color: var(--orange);
}

[data-mode] {
  background-color: transparent;
  border: none;

  svg {
    width: 24px;
    height: 24px;
    display: block;
  }
}

.dark {
  --mode: to right, #005bbb, #00428a, #003670, #002954;
  --text: #fff;
}

.light {
  --mode: to right, #ffffff, #eaf4ff, #d9ebff, #c9e3ff, #acd4ff;
  --text: #333;
}
