[data-color='blue'] {
  background-color: var(--blue);
}

[data-color='cyan'] {
  background-color: var(--cyan);
}

[data-color='green'] {
  background-color: var(--green);
}

[data-color='pink'] {
  background-color: var(--pink);
}

[data-color='red'] {
  background-color: var(--red);
}

[data-color='orange'] {
  background-color: var(--orange);
}

[data-mode] {
  background-color: transparent;
  border: none;

  svg {
    width: 24px;
    height: 24px;
    display: block;
  }
}
